* {
    margin: 0;
    padding: 0;
}

:root {
    --slate300: #D5E1EF;
    --slate500: #68778D;
    --slate900: #1F314F;
    --blue500: #3685FF;
    --blue600: #2C7DFA;
    --white: #FFFFFF;
    --font-regular-family: 'Outfit', sans-serif;
    --font-regular-weight: 400;
    --font-regular-size: 15px;
    --font-bold-family: 'Outfit', sans-serif;
    --font-bold-weight: 700;
    --font-bold-size: 22px;
    --bradius: 1rem;
}

.qrcode-body {
    background-color: var(--slate300);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qrcode-container {
    background-color: var(--white);
    width: 16%;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: var(--bradius);
}

.qrcode-component {
    background-color: var(--blue600);
    border-radius: var(--bradius);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 17rem;
}

.qrcode-component img {
    height: 12rem;
    width: auto;
}

.qr-content h1,
p {
    margin: 0.5rem;
    font-family: var(--font-bold-family);
}

.heading h1 {
    color: var(--slate900);
    font-weight: var(--font-bold-weight);
    font-size: var(--font-bold-size);
}

.paragraph p {
    color: var(--slate500);
    font-size: var(--font-regular-size);
    font-weight: var(--font-regular-weight);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}